<!DOCTYPE html>
<html>
    <head>
        <title>
            Note
        </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jua&family=Shadows+Into+Light&display=swap" rel="stylesheet">
        <script src="{{url_for('static',filename='js/script.js')}}">

        </script> 
    </head>
    <body class="body" id="body">
        <form action="/" method="POST">
            <div class="main" id="main">
                <h class="text_login">Enter username</h>
                <input type="text" class="input_login" name="user" id="user">
                <h class="text_login">Enter password</h>
                <input type="'text" class="input_login" name="password" id="password">
                <button class="login">
                    LOG IN
                </button>
            </div>

        </form>
        <div class="register_box">
            <div class="register_text_box">
                <h class="register_text">Not already registered?<br>Click below to register<br></h>

            </div>
            <div class="register_button_box">
                <button class="register_button" onclick="window.location.href='/register';">
                    REGISTER
                </button>

            </div>
            

        </div>
            




    </body>
</html>